.main{
    padding-top: 7px !important;
}
nav{
    background-color: black !important;
}
.navbar{
    margin: auto;
    border-radius: 30px !important;
}
.nav-link{
    color: #fff !important;
}
.navbar-brand{
    color: #eac28b !important;
    font-family: 'Pacifico', cursive;
    font-size:xx-large;
}
.form-control{
    border-radius: 30px;
    border:none;
    outline: none;
}
.bi{
    color: #fff !important;
}
.navbar-nav >.items{
    margin-left: auto !important;
}
