nav{
    margin-top: 5px !important;
    background-color: black !important;
}
.navbar{
    margin: auto;
    width: 80% !important;
    border-radius: 30px !important;
}
.nav-link{
    color: #fff !important;
}
.navbar-brand{
    color: #fff !important;
}