.main{
    padding-top: 7px !important;
}
nav{
    background-color: black !important;
}
.navbar{
    margin: auto;
    border-radius: 30px !important;
}
.nav-link{
    color: #fff !important;
}
.navbar-brand{
    color: #eac28b !important;
    font-family: 'Pacifico', cursive;
    font-size:xx-large;
}
.form-control{
    border-radius: 30px;
    border:none;
    outline: none;
}
.bi{
    color: #fff !important;
}
.navbar-nav >.items{
    margin-left: auto !important;
}
.navbar-toggler{
    background-color: #fff;
}

@media screen and (max-width: 768px){
    .navbar-collapse {
        justify-content: center;
    }
    .navbar-nav {
        width: 100%;
        text-align: center;
        height: max-content;
    }
    .nav-item {
        display: inline-block;
    }
}

