<div class="container">
    <main>
        <div class="title">
            <h3>Q.Haven</h3>
            <div class="socials">Social Media:<i class="bi bi-linkedin"></i> <i class="bi bi-instagram"></i> <i class="bi bi-pinterest"></i> </div>
        </div>

        <div class="d-flex items">
            <div class="col-3">
                <p>About</p>
                <p>Our Story</p>
                <p>FAQ</p>
                <p>Careers</p>
            </div>

            <div class="col-3">
                <p>Customer Resoucres</p>
                <p>Menu</p>
                <p>Locations</p>
                <p>Support</p>
            </div>

            <div class="col-3">
                <p>Services</p>
                <p>Payment Options</p>
                <p>Refunds & Exchanges</p>
                <p>Limitation Of Liability</p>
            </div>

            <div class="col-3">
                <p><i class="bi bi-geo-alt-fill"></i> 12 Jhon Avenue #35 - New York</p>
                <p> <i class="bi bi-envelope-fill"></i> Elizacoffee@Coffee.Com</p>
                <p><i class="bi bi-phone-fill"></i> +1-222-34-ELIZA</p>
            </div>
        </div>

        <div class="subscribe p-4 mt-3">
            <div><h3>Join us as a coffee Maker</h3><br> <p>We are looking for creative people like you to extend our brand value.</p></div>
            <button>Join Us</button>
        </div>
    </main>

</div>
