<div class="container">
    <div class="main">
        <form (submit)="getSearch($event)" class="search">
            <input type="text" class="m-2" [(ngModel)]="search" [ngModelOptions]="{standalone:true}" placeholder="Search Recipe..."/>
            <button class="btn" type="submit">Search</button>
        </form>

        <div class="recipeItems">
            <div class="card my-2 p-2" *ngFor="let recipe of recipes" #cardText >
                <div class="like">
                    <div *ngIf="!recipe.addedToFavourites"><i class="bi bi-heart" matTooltip="Add to Favourites" (click)="addToFav(recipe)"></i></div>
                    <div *ngIf="recipe.addedToFavourites"><i class="bi-heart-fill" matTooltip="Unmark as Favourite" (click)="addToFav(recipe)"></i></div>
                </div>
                <img class="typeImg" [src]="recipe.recipe.image" alt="{{ recipe.recipe.label }}">
                <p><b>Label:</b>{{recipe.recipe.label | truncate:20}}</p>
                <p><b>Cuisine Type: </b>{{ recipe.recipe.cuisineType }}</p>
                <p><b>Dish Type:</b> {{ recipe.recipe.dishType }}</p> 
                <div class="d-flex justify-content-between">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="filter_none" matTooltip="copy Recipe" (click)="copyText(recipe)"></mat-icon>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="share" (click)="share(recipe)" matTooltip="Share"></mat-icon>
                </div>
            </div>
        </div>

        {{text}}
    </div>
</div>
