.card{
    width: 300px;
    height: 350px;
    color: #54372b;
    

    img{
        width: 150px;
        height: 150px;
        object-fit: contain;
    }
}
.recipeItems{
    display:flex !important;
    flex-direction:row !important;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.typeImg{
    object-fit: contain;
    border-radius: 50%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    width: 80%;
    outline: none;
    border: none;
    border-bottom: 1px solid #54372b;
    background-color:#f9f6f2 ;

}
.search{
    display: flex;
    justify-content: center;
    align-items: center;

    .btn{
        background-color: #54372b;
        color: #f9f6f2;
    }
}

.like{
    background-color: #fff;
}
.like > mat-icon{
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
}