h2,p{
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #54372b;
}
.content{
    position: relative;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-around;

}
.card{
    width: 200px;
    height: 200px;
    background-color: #fff;
    color: #54372b;
    // position: absolute;
    // z-index: 20;
}
.mainContent{
    background-color: #ebdcd0;
    border-radius: 10px;
}