<div class="container pt-5">
    <h2>Our Top Selling Products</h2>
    <p>It takes a lot of heart and hard work at every step to create the best coffee <br>
        possible, and we know it takes a lot of grit to keep your own grind going.
    </p>

    <div class="mainContent py-3">
        <div class="d-flex content">
            <div class="card">
                <div class="container">
                    <div class="like">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite_border"></mat-icon>
                    </div>
                    <img class="typeImg" src="\assets\instant-coffee.jpg">

                    <div class="types">5 types Available </div>
                    <h3 class="names">Instant Coffee</h3>

                    <div class="d-flex justify-content-between mt-5">
                        <p>$15</p>
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_bag"></mat-icon>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <div class="like">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite_border"></mat-icon>
                    </div>

                    <img class="typeImg" src="\assets\black-coffee.jpg">
                    <div class="types">3 types Available </div>
                    <h3 class="names"> Coffee Black</h3>

                    <div class="d-flex justify-content-between mt-5">
                        <p>$10</p>
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_bag"></mat-icon>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <div class="like">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite_border"></mat-icon>
                    </div>

                    <img class="typeImg" src="\assets\latte.jpg">
                    <div class="types">3 types Available </div>
                    <h3 class="names">latte</h3>

                    <div class="d-flex justify-content-between mt-5">
                        <p>$25</p>
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_bag"></mat-icon>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="d-flex content">
            <div class="card">
                <div class="container">
                    <div class="like">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite_border"></mat-icon>
                    </div>

                    <img class="typeImg" src="\assets\cappucino.jpg">
                    <div class="types">5 types Available </div>
                    <h3 class="names">Cappuccino</h3>

                    <div class="d-flex justify-content-between mt-5">
                        <p>$30</p>
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_bag"></mat-icon>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <div class="like">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite_border"></mat-icon>
                    </div>

                    <img class="typeImg" src="\assets\expresso.jpg">
                    <div class="types">3 types Available </div>
                    <h3 class="names">Expresso</h3>

                    <div class="d-flex justify-content-between mt-5">
                        <p>$25</p>
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_bag"></mat-icon>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <div class="like">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite_border"></mat-icon>
                    </div>

                    <img class="typeImg" src="\assets\mocha.jpg">
                    <div class="types">5 types Available </div>
                    <h3 class="names">Mocha</h3>

                    <div class="d-flex justify-content-between mt-5">
                        <p>$15</p>
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_bag"></mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
