<div class="container">
    <h1 class="mt-3">Blending culture,coffee & top <br>notch services</h1>
    <div class="d-flex cards">
        <div class="card">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="coffee_maker"></mat-icon>
            <p>Equipment</p>
        </div>
        <div class="card">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="free_breakfast"></mat-icon>
            <p>Type of Coffee</p>
        </div>
        <div class="card">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="coffee"></mat-icon>
            <p>Take A Way</p>
        </div>
        <div class="card">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="coffee-beans"></mat-icon>
            <p>Beans Variant</p>
        </div>
        <div class="card">
            <mat-icon  fontIcon="bakery_dining"></mat-icon>
            <p>Pastry</p>
        </div>
    </div>
</div>

