h1{
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #54372b;
}
.card{
    background-color: #54372b;
    width: 200px;
    height:200px;
    cursor: pointer;
}
.cards{
    justify-content: space-around;
}
mat-icon{
    color:#eac28b;
    margin: auto; 
    transform: scale(3);
    
}
.card > p{
    color:#eac28b;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

