.ad1{
    width: 700px;
    height: 700px;
    object-fit: contain;
}
.ad1,.ad2,.ad3{
    border-radius: 20px;
}

.ads{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}