<div class="container">
    <div class="main">
        <div class="img"><img src="\assets\black-coffee.jpg"></div>

        <p>Jonas Blue</p>
        <h3>The taste of coffee is Stunning,<br>
            Subtle and Smooth flavor.
        </h3>

        <p>The taste of coffee can vary depending on the type of bean, roast level and <br>
            brewing method used.Some people prefer a strong and bold taste,while others<br>
             prefer a more subtle and smooth flavor.
        </p>
    </div>
</div>
