// .main > .img{
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//    align-items: center;
// }
// .main >.img >img{
//     border-radius: 50%;
//     border:4px solid #54372b;
// }
// .main > p,h3{
//     text-align: center;
//     font-family: 'Pacifico', cursive;
//     text-align: center;
//     color: #54372b;
// }
.carousel-wrapper{
    overflow: hidden;
}
.carousel {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 6000px;
}
.carousel-inner{
    display: flex;
}