<div class="container">
    <div class="_content">
        <div class="d-flex">
            <div class="col-4">
                <h1>Enjoy  a new blend of coffee beans</h1>
                <p class="py-4 brew">Brew or order a Perfect Coffee based on your mood Anywhere Anytime</p>
                <div class="d-flex">
                    <button class="btn py-2">Shop Now <i class="bi bi-arrow-up-right"></i></button>
                    <div class="d-flex mx-3">
                        <div class="playBorder"><span><i class="bi bi-play-fill"></i></span></div>
                        <span style="color: #ed6e4d; margin-left: 2px;">How it works</span>
                    </div>
                </div>   
            </div>
            <div class="col-8">
                <figure>
                    <img src="assets\home-img.jpg">
                </figure>
            </div>
        </div>
    </div>
</div>


