img{
    object-fit: contain;
    width: 600px;
    height: 600px;
}
._content{
    margin-top: 40px !important;
    display: grid;
    grid-template-columns: auto auto;
    column-gap:20px;
}
.btn{
    background-color: #000;
    color:#fff;
    border-radius: 30px;
}
.bi-arrow-up-right{
    background-color:#ed6e4d;
    border-radius: 50%;
    padding: 4px;
}
.bi-play-fill{
   background-color: #fff;
   color: #ed6e4d;
   border-radius: 50%;
   padding: 4px;
   cursor: pointer;  
}
.play{
    font-size: 20px;
}
.ringPlay{
    border-left: 5px solid #000;
}
h1,.brew{
    color: #54372b;
}
.playBorder{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-left: 4px solid #000;
  padding: 2px;
}

.mainImg{
    border-radius:30px;
    width:500px;
    height:500px;
}

//media queries
@media screen and (max-width:992px){
    ._content{
        .mainImg{
            width: 300px;
            height: 300px;
         }
    }
}            

@media screen and (max-width: 500px){
    ._content{
        display: block;

        .imageContent{
            display: none;
        }
    }

}