<div class="container">
    <div class="_content">
            <div class="textContent">
                <h1>Enjoy  a new blend of coffee beans</h1>
                <p class="py-4 brew">Indulge in the art of coffee brewing or order the perfect cup tailored to suit your mood, anytime, anywhere.
                     At <b>Qaffee Haven</b>, we bring you a unique coffee experience that transcends time and location. 
                     Whether you're seeking the comforting warmth of a classic brew or a bold and adventurous flavor to match your mood, our expert baristas craft each cup with passion and precision.
                   </p>
                <div class="d-flex">
                    <button class="btn py-2">Shop Now <i class="bi bi-arrow-up-right"></i></button>
                    <div class="d-flex mx-3">
                        <div class="playBorder"><span><i class="bi bi-play-fill"></i></span></div>
                        <span style="color: #ed6e4d; margin-left: 2px;">How it works</span>
                    </div>
                </div> 
            </div>
            <div class="imageContent">
                <figure>
                    <img class="mainImg " src="assets\home-img.jpg">
                </figure>
            </div>
        
    </div>

    <app-services></app-services>
    <app-top-products></app-top-products>
    <app-ads-page></app-ads-page>
    <app-experts></app-experts>
    <app-testimonials></app-testimonials>
    <app-booking></app-booking>
</div>



