<div class="container">
    <main>
        <section class="card">
          <div class="content">
            <h3 style="text-align: center;">Let's book a Table For you</h3>
            <div class="info mx-5  py-2">
              <div><i class="bi bi-telephone"></i>Your Number</div>
              <div><i class="bi bi-person"></i> People</div>
              <button>Book Table</button>
            </div>
            <div class="confirm">
              We will contact you to confirm your booking
            </div>
          </div>
        </section>
      </main>
    
</div>

